<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Contact</div>
            <ul class="nav_links">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('index') }}#Tools">Works</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="contact" class="contact">
            <h2>Contact Information</h2>
            <div class="contact-content">
                <p>You may contact me through...</p>
                <div class="contact-info">
                    <p>Email: izamariectomacruz@iskolarngbayan.pup.edu.ph</p>
                    <p>Phone Number: 09687457821</p>
                </div>
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/iza-marie-tomacruz-57004330b" class="social-link">LinkedIn</a>
                    <a href="https://github.com/IzaTomacruz" class="social-link">GitHub</a>
                    <a href="https://www.facebook.com/izamarie.tomacruz" class="social-link">Facebook</a>
                </div>
            </div>
        </section>
</body>
</html>
